.middle-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-group:has(input:required, select:required) > .form-label:after {
  content:" *";
  color: crimson;
}